
/* .tabledata{
    width: 50%;
} */
.table{
    overflow: scroll;
    height: 400px;
    width: 40%;
    margin-top: 50px;
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}
.table_head{
    color: gold;
    padding-right: 10px;
    /* padding-top: 100px; */
    font-size: 1rem;
    font-weight: bold;
}
.table_row-1{
    /* padding-left: 100px; */
    padding-top: 10px;
    padding-left: 33px;
}
.table_row-2{
    padding-left: 20px;
    padding-top: 10px;
}
.table_row-3{
    padding-left: 10px;
    padding-top: 10px;
}
.table_row-4{
    padding-left: 20px;
    padding-top: 10px;
}
.table_row-5{
    padding-left: 23px;
    padding-top: 10px;
}